ins {
  text-decoration: none;
  background: #D5FFB5;
  color: rgb(0, 75, 0);
}

del {
  text-decoration: none;
  background: #FFD3D3;
  color: #830000;
}

td {
	padding-bottom: 1em;
}
td + td {
	padding-left: 1em;
}
