---
layout: post
title: "Two-Way Data Binding"
date: 2014-06-09 14:00
comments: true
---

<p>Let’s build a temperature converter app in Backbone, React, Angular, Meteor and vanilla JavaScript.</p>
<video preload autoplay loop width="216" height="48">
	<source src="/2-way-data-binding/temperature-converter.webm" type="video/webm">
	<source src="/2-way-data-binding/temperature-converter.mp4" type="video/mp4">
	<source src="/2-way-data-binding/temperature-converter.ogv" type="video/ogg">
</video>
<script src="//cdnjs.cloudflare.com/ajax/libs/labjs/2.0.3/LAB.min.js"></script>
<!-- more -->
<style>
#article_2-way-data-binding h2 {
	margin: 2em 0 1em;
}
.temperature-converter,
.temperature-converter input {
	cursor: default;
}

.temperature-converter input {
	width: 5em;
	text-align: right;
	border: none;
	background: none;
	color: inherit;
	height: 2em;
	vertical-align: baseline;
	padding-right: .4em;
}
.temperature-converter .arrows {
	font-size: 20px;
	vertical-align: middle;
}
.temperature-converter input:focus {
	outline: none;
}
.celsius-wrap,
.fahrenheit-wrap {
	display: inline-block;
	border: 1px solid currentColor;
	outline-color: currentColor;
	padding: 0 4px 0 0;
	border-radius: 4px;
}

.fahrenheit-wrap {border-color: hsl(151, 21%, 77%)}
.celsius-wrap {border-color: hsl(34, 43%, 72%)}


#article_2-way-data-binding b {
	color: #000;
	font-weight: normal;
}
#article_2-way-data-binding .celsius-wrap,
#article_2-way-data-binding .c > b,
#article_2-way-data-binding b.c {
	background: hsl(46, 52%, 90%);
	color: hsl(31, 100%, 30%);
}
#article_2-way-data-binding i.c {
	background: hsl(46, 52%, 90%);
	color: hsl(31, 30%, 53%);
}

#article_2-way-data-binding .f {background: hsl(151, 24%, 90%)}
#article_2-way-data-binding .fahrenheit-wrap,
#article_2-way-data-binding b.f {
	color: hsl(151, 60%, 30%);
	background: hsl(151, 24%, 90%);
}
#article_2-way-data-binding i.f {
	color: hsl(151, 20%, 54%);
	background: hsl(151, 24%, 90%);
}
#article_2-way-data-binding .f > b {color: hsl(151, 60%, 30%)}

#article_2-way-data-binding .hover-highlight {
	outline: 4px solid yellow;
}
#article_2-way-data-binding pre code {
	color: hsl(0, 0%, 50%);
}

#article_2-way-data-binding input::-webkit-inner-spin-button {
	font-size: 166%;
	opacity: 1;
}
</style>
<h2 id="vanilla">Vanilla JS</h2>

<p class="temperature-converter" id="tm-vanilla">
	<label class="celsius-wrap"><input type="number" class="celsius" id="celsius" value="0">°C</label>
	<span class="arrows">⇄</span>
	<label class="fahrenheit-wrap"><input type="number" class="fahrenheit" id="fahrenheit">°F</label>
</p>
<script>
function c2f(c) {
	return 9/5 * c + 32
}
function f2c(f) {
	return 5/9 * (f - 32)
}

var celsius = document.getElementById('celsius')
var fahrenheit = document.getElementById('fahrenheit')
fahrenheit.value = c2f(celsius.value)

celsius.oninput = function(e) {
	fahrenheit.value = c2f(e.target.value)
};

fahrenheit.oninput = function(e) {
	celsius.value = f2c(e.target.value)
};
</script>

<p>Vanilla JS is our baseline. Input values are synchronised using two event handlers, one on each input field.</p>

<pre><code>
function <b>c2f</b>(<b class="c">c</b>) {
	return <b>9/5 * <b class="c">c</b> + 32</b>
}
function <b>f2c</b>(<b class="f">f</b>) {
	return <b>5/9 * (<b class="f">f</b> - 32)</b>
}

<i class="c">var <b>celsius</b> = <b>document.getElementById</b>(<b>'celsius'</b>)</i>
<i class="f">var <b>fahrenheit</b> = <b>document.getElementById</b>(<b>'fahrenheit'</b>)</i>
<b class="f">fahrenheit.value</b> = <b>c2f</b>(<b class="c">celsius.value</b>)

<b class="c">celsius.oninput</b> = function(<b class="c">e</b>) {
	<b class="f">fahrenheit.value</b> = <b>c2f</b>(<b class="c">e.target.value</b>)
};

<b class="f">fahrenheit.oninput</b> = function(<b class="f">e</b>) {
	<b class="c">celsius.value</b> = <b>f2c</b>(<b class="f">e.target.value</b>)
};
</code></pre>


<h2 id="backbone">Backbone.js</h2>
<p class="temperature-converter" id="tc-backbone">
	<label class="celsius-wrap"><input type="number" class="celsius" value="0">°C</label>
	<span class="arrows">⇄</span>
	<label class="fahrenheit-wrap"><input type="number" class="fahrenheit" value="32">°F</label>
</p>
<script>
$LAB
	.script('//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
	.script('//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
	.wait()
	.script('/2-way-data-binding/backbone-app.js');
</script>
<pre><code>
var <b>Temperature</b> = <b>Backbone.Model.extend</b>({
	<b>defaults</b>: {
		<i class="c"><b>celsius</b>: <b>0</b></i>
	},
	<b class="f">fahrenheit</b>: function(<b class="f">value</b>) {
		if (typeof <b class="f">value</b> == 'undefined') {
			return <b>c2f</b>(<i class="c">this.<b>get</b>(<b>'celsius'</b>)</i>)
		}
		<i class="c">this.<b>set</b>(<b>'celsius'</b>, <b>f2c</b>(<b class="f">value</b>))</i>
	}
})

var <b>TemperatureView</b> = <b>Backbone</b>.<b>View</b>.<b>extend</b>({
	<b>el</b>: <b>document</b>.<b>getElementById</b>(<b>'tc-backbone'</b>),
	<b>model</b>: new <b>Temperature</b>(),
	<b>events</b>: {
		<i class="c"><b>'input .celsius'</b>: <b>'updateCelsius'</b></i>,
		<i class="f"><b>'input .fahrenheit'</b>: <b>'updateFahrenheit'</b></i>
	},
	<b>initialize</b>: function() {
		this.<b>listenTo</b>(this.<b>model</b>, <b class="c">'change:celsius'</b>, this.<b>render</b>)
		this.<b>render</b>()
	},
	<b>render</b>: function() {
		<i class="c">this<b>.$</b>(<b>'.celsius'</b>)<b>.val</b>(this<b>.model.get</b>(<b>'celsius'</b>))</i>
		<i class="f">this<b>.$</b>(<b>'.fahrenheit'</b>)<b>.val</b>(this<b>.model.fahrenheit</b>())</i>
	},
	<b>updateCelsius</b>: function(<b>event</b>) {
		<i class="c">this.<b>model.set</b>(<b>'celsius'</b>, <b>event.target.value</b>)</i>
	},
	<b>updateFahrenheit</b>: function(<b>event</b>) {
		<i class="f">this<b>.model.fahrenheit</b>(<b>event.target.value</b>)</i>
	}
})

var <b>temperatureView</b> = new <b>TemperatureView</b>()
</code></pre>

<p><code>Temperature</code> is our model. Note that it only stores °C values, it doesn’t store °F.
We can always convert one to another so there is no need to store both.</p>

<h3 id="view-model-view">View&rarr;Model&rarr;View Blowback</h3>
<video preload autoplay loop width="94" height="42">
	<source src="/2-way-data-binding/blowback.webm" type="video/webm">
	<source src="/2-way-data-binding/blowback.mp4" type="video/mp4">
	<source src="/2-way-data-binding/blowback.ogv" type="video/ogg">
</video>
<p>Changing the value in the text field moves the cursor to the end. The problem is that data flows
from an input field to a model,	and then back to the same input field, overriding the current value
even if it’s exactly the same.</p>
<video preload autoplay loop width="320" height="180">
	<source src="/2-way-data-binding/boomerang.webm" type="video/webm">
	<source src="/2-way-data-binding/boomerang.mp4" type="video/mp4">
	<source src="/2-way-data-binding/boomerang.ogv" type="video/ogg">
	<p><a href="http://coub.com/view/1z2cv" rel="nofollow">Boomerang</a></p>
</video>
<p>There are <a href="http://stackoverflow.com/questions/15824887/backbone-js-avoid-viewmodelview-double-conversion">workarounds</a>.</p>


<h2 id="react">React.js</h2>
<div id="tm-react"><p class="temperature-converter"><label class="celsius-wrap"><input type="number" class="celsius" value="0"><span> C° </span></label><span class="arrows"> ⇄ </span><label class="fahrenheit-wrap"><input type="number" class="fahrenheit" value="32"><span> F° </span></label></p></div>
<script>
$LAB
	.script('//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react.min.js')
	.wait()
	.script('/2-way-data-binding/react-app.js');
</script>
<pre><code>var <b>TemperatureConverter</b> = <b>React.createClass</b>({
	<b>getInitialState</b>: function() {
		return <i class="c">{<b>c</b>: <b>0</b>}</i>
	},
	<b>render</b>: function() {
		var <b>celciusValueLink</b> = {
			<b>value</b>: <i class="c">this<b>.state.c.toString</b>()</i>,
			<b>requestChange</b>: this.<b>onCelsiusChange</b>
		}
		var <b>fahrenheitValueLink</b> = {
			<b>value</b>: <i class="f"><b>c2f</b>(<i class="c">this<b>.state.c</b></i>).<b>toString</b>()</i>,
			<b>requestChange</b>: this.<b>onFahrenheitChange</b>
		}
		return &lt;<b>div</b>&gt;
			<i class="c">&lt;<b>input</b> <b>type</b>="<b>number</b>" <b>valueLink</b>={<b>celciusValueLink</b>}/&gt;<b>°C</b></i>
			&lt;<b>span</b>&gt; <b>⇄</b> &lt;/<b>span</b>&gt;
			<i class="f">&lt;<b>input</b> <b>type</b>="<b>number</b>" <b>valueLink</b>={<b>fahrenheitValueLink</b>}/&gt;<b>°F</b></i>
		&lt;/<b>div</b>&gt;
	},
	<b>onCelsiusChange</b>: function(<b class="c">data</b>) {
		this.<b>setState</b>(<i class="c">{<b>c</b>: <b>parseFloat</b>(<b>data</b>)}</i>)
	},
	<b>onFahrenheitChange</b>: function(<b class="f">data</b>) {
		this.<b>setState</b>(<i class="c">{<b>c</b>: <b>f2c</b>(<b class="f">data</b>)}</i>)
	}
})

<b>React.renderComponent</b>(
	&lt;<b>TemperatureConverter</b>/&gt;,
	<b>document.body</b>
)</code></pre>
<p>React.js doesn’t have Backbone’s problem with moving the cursor position. Its virtual DOM,
a layer between the actual DOM and React’s state, prevents React from unnecessary DOM changes.</p>
<p><code>setState</code> schedules re-rendering on next <code>requestAnimationFrame</code>.
	<code>render</code> method updates the virtual DOM, calculates the difference between
	the current and the previous virtual DOM objects, and applies the changes to the actual DOM.</p>
<p>However, here is another bug (Backbone has it too):</p>
<h3>Double Conversion</h3>
<video preload autoplay loop width="226">
	<source src="/2-way-data-binding/floating_point.webm" type="video/webm">
	<source src="/2-way-data-binding/floating_point.mp4" type="video/mp4">
	<source src="/2-way-data-binding/floating_point.ogv" type="video/ogg">
</video>
<p>Instead of 2 we get 1.9999999999999964, because:</p>
<pre><code><b>c2f</b>(<b>f2c</b>(<b class="f">2</b>)) === <b class="f">1.9999999999999964</b></code></pre>
<p>The problem is in the double conversion: Fahrenheits to Celsius, and then back to Fahrenheits.
In many programming languages, including JavaScript, floating point operations <a href="https://en.wikipedia.org/wiki/Floating_point#Accuracy_problems">aren’t necessary precise</a>:</p>
<pre><code><b>0.2 + 0.1 = 0.30000000000000004</b></code></pre>
<p>Ben Alpert, a core developer of React, suggested <a href="http://stackoverflow.com/questions/20796245/react-js-avoid-updates-of-currently-edited-input">two different solutions</a>.</p>


<h2 id="angular">Angular.js</h2>
<p class="temperature-converter" id="tc-angular">
	<label class="celsius-wrap"><input type="number" class="celsius" ng-model="c">°C</label>
	<span class="arrows">⇄</span>
	<label class="fahrenheit-wrap"><input type="number" class="fahrenheit" ng-model="c" converter="c2f">°F</label>
</p>
<script>
(function() {
	if (window.jQuery) {
		jQueryLoaded();
	} else {
		document.addEventListener('DOMContentLoaded', jQueryLoaded, false);
	}
	function jQueryLoaded() {
		$LAB
			.script('//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js')
			.wait()
			.script('/2-way-data-binding/angular-app.js')
			.wait(function() {
				angular.bootstrap(document.getElementById('tc-angular'), ['temperature-converter']);
			});
	}
})();
</script>
<p>Angular.js doesn't have the problems mentioned previously since it doesn’t update the input field that changed.</p>
<h3>HTML</h3>
<pre><code>&lt;<b>div ng-app="temperature-converter"</b>&gt;
	<i class="c">&lt;<b>input</b> <b>type</b>="<b>number</b>" <b>ng-model</b>="<b>c</b>"&gt;<b>°C</b></i> <b>⇄</b>
	<i class="f">&lt;<b>input</b> <b>type</b>="<b>number</b>" <b>ng-model</b>="<b>c</b>" <b>converter</b>="<b>c2f</b>"&gt;<b>°F</b></i>
&lt;/<b>div</b>&gt;</code></pre>
		<h3>JS</h3>
<pre><code>var <b>app</b> = <b>angular.module</b>(<b>'temperature-converter'</b>, []);

<b>app.directive</b>(<b>'converter'</b>, function(<b>converters</b>) {
	return {
		<b>require</b>: <b>'ngModel'</b>,
		<b>link</b>: function(<b>scope</b>, <b>element</b>, <b>attr</b>, <b>ngModel</b>) {
			var <b>converter</b> = <b>converters</b>[<b>attr.converter</b>]
			<b>ngModel.$formatters.unshift</b>(<b class="f">converter.formatter</b>)
			<b>ngModel.$parsers.push</b>(<b class="c">converter.parser</b>)
			<i class="c"><b>$scope.c</b> = <b>0</b></i>
		}
	}
})

<b>app.value</b>(<b>'converters'</b>, {
	<b>c2f</b>: {
		<i class="f"><b>formatter</b>: <b>c2f</b></i>,
		<i class="c"><b>parser</b>: <b>f2c</b></i>
	}
})
</code></pre>
<!-- http://embed.plnkr.co/QrEhKBVyVhTY4ef1FvOR -->


<h2 id="meteor">Meteor</h2>
<p>Meteor, like Angular, doesn’t have the mentioned problems either.</p>
<h3>HTML</h3>
<pre><code>&lt;<b>body</b>&gt;
	{&#123;&gt; <b>temperatureConverter</b>}}
&lt;/<b>body</b>&gt;

&lt;<b>template</b> <b>name</b>="<b>temperatureConverter</b>"&gt;
	<i class="c">&lt;<b>input</b> <b>type</b>="<b>number</b>" <b>value</b>="{&#123;<b>celsius</b>}}" <b>class</b>="<b>celsius</b>"&gt;<b>°C</b></i> <b>⇄</b>
	<i class="f">&lt;<b>input</b> <b>type</b>="<b>number</b>" <b>value</b>="{&#123;<b>fahrenheit</b>}}" <b>class</b>="<b>fahrenheit</b>"&gt;<b>°F</b></i>
&lt;/<b>template</b>&gt;</code></pre>
		<h3>JS</h3>
<pre><code><i class="c"><b>Session.setDefault</b>(<b>'c'</b>, <b>0</b>)</i>

<b>Template.temperatureConverter.celsius</b> = function() {
	return <i class="c"><b>Session.get</b>(<b>'c'</b>)</i>
};
<b>Template.temperatureConverter.fahrenheit</b> = function() {
	return <i class="f"><b>c2f</b>(<b>Session.get</b>(<b>'c'</b>))</i>
};

<b>Template.temperatureConverter.events</b>({
	<b>'input .celsius'</b>: function(<b class="c">e</b>) {
		<b>Session.set</b>(<b>'c'</b>, <b>parseFloat</b>(<b class="c">e.target.value</b>))
	},
	<b>'input .fahrenheit'</b>: function(<b class="f">e</b>) {
		<b>Session.set</b>(<b>'c'</b>, <b>f2c</b>(<b class="f">e.target.value</b>))
	}
})
</code></pre>
<p>Demo: <a href="http://temperature.meteor.com/" rel="nofollow">temperature.meteor.com</a>.</p>


<h2>Summary</h2>
<p>Backbone doesn’t support two-way data binding out of the box. It’s the only library here that overwrites the currently edited input field with the same value.</p>
<p>React, Angular and Meteor all support two-way data binding. Although, in my example React needed a little extra logic to handle conversion errors.</p>
<p>Fortunately, none of the mentioned libraries go into an infinite loop updating values back and forth between model and view.</p>
<hr>
<p>Syntax highlighting in the article was inspired by “<a href="https://medium.com/programming-ideas-tutorial-and-experience/coding-in-color-3a6db2743a1e">Coding in color: How to make syntax highlighting more useful</a>”.</p>
<p>Thanks to <a href="https://github.com/surjikal">Nick Porter</a> for helping with Angular,
	<a href="http://dybskiy.com/">Yuriy Dybskiy</a> for reviewing my Meteor code,
	and <a href="http://adamsolove.com/">Adam Solove</a> for <a href="https://github.com/NV/n12v.com/pull/2">copy editing</a> the whole thing.</p>